
* {
  box-sizing: border-box;
}

@keyframes example {
  from {height: 0%;}
  to {height: 75%;}
}

header {
  background-color: #000000;
  border-radius: 2px;
  max-width: width;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  text-align: center;
  flex-direction: column;
}

header a {
  color: #aaa;
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  font-size: 24px;
  padding: 0;
}

header a:hover {
  background-color: #ddd;
  color: black;
}

body {
  font-family: sans-serif;
  background-color:rgb(0, 0, 0);
  margin: auto;
}
#shop_nav{
  color: white;
  width: 25%;
  float: left;
  padding: 15px;
}
#shop {
  align-items: center;  
  width: 75%;
  float: left;
  padding: 15px;
}
#projects_nav{
  color: white;
  width: 25%;
  float: left;
  padding: 15px;
}
#projects {
  align-items: center;  
  width: 75%;
  float: left;
  padding: 15px;
  animation-name: example;
  animation-duration: 4s;
}
#about_nav{
  color: white;
  width: 25%;
  float: left;
  padding: 15px;
}
#about {
  align-items: center;  
  width: 75%;
  float: left;
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid rgb(0, 185, 31);
  /*transform:rotate3d(0,1,0,45deg); */
}

.grid-container > div {
  align-items: center;  
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}

.grid-container > div:hover{
  transform: scale(1.125);
}

/*
.grid-container > div:active:hover{
  transform: translate(center);
  transform: scale(1.525);
}*/


model-viewer#interaction {  
  --poster-color: transparent;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: auto;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

